.taskPage {
  flex: 1;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem 0;
    gap: 1.5rem;
  }
}


