.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 1rem;
}

@media (max-width: 640px) {
  .formActions {
    flex-direction: column-reverse;
  }

  .formActions button {
    width: 100%;
  }
}


