.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.message {
  margin: 0;
  color: #374151;
  line-height: 1.6;
}

.message strong {
  color: #111827;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

@media (max-width: 640px) {
  .actions {
    flex-direction: column-reverse;
  }

  .actions button {
    width: 100%;
  }
}


